@tailwind base;
@tailwind components;
@tailwind utilities;

// Amplify UI override

.authenticator {
  .amplify-form-section {
    .amplify-form-header {
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    .amplify-form-section-body {
      .amplify-form-row {
        margin-bottom: 1rem;
        .amplify-input {
          input {
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 1rem;
          }
        }
        .amplify-button {
          button {
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
